

/* #######################################################################

	bugMe
	--------
	
	To be used with jquery.bugme.js by Chris Wharton (http://weare2ndfloor.com)

####################################################################### */

/* default link transitions */
.bugme a, .bugme a:hover {
	-o-transition: color 0.25s ease-in;
	-webkit-transition: color 0.25s ease-in;
	-moz-transition: color 0.25s ease-in;
	transition: color 0.25s ease-in;
	text-decoration: none;
}

/* the main bugme bar */
.bugme {
	width: 100%; 
	position: relative; 
	float: left; 
	clear: both; 
	padding: 15px 20px;
	background: #3498db;
	color: #fff;
	font-size: 17px;
	line-height: 1.4;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-weight: 400;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}	

.bugme.bugme-fixed {
	position: fixed;
	top: 0;
	left: 0;
}

/* For IE7 users where border box doesn't work */
.ie7 .bugme {
	width: 96%; 
	padding: 15px 2%;
}

/* links within the bar */
.bugme a {
	color: #fff;
	font-weight: 600;
	text-decoration: none;
}

.bugme a:hover {
	color: #34495e;
}

/* the close button */
.bugme-close {
	position: absolute;
	top: 15px;
	right: 20px;
	text-decoration: none;
	font-weight: 600;
	color: #fff;
	min-width: 44px;
	min-height: 44px;
	text-align: right;
}


/* a little media query to give the bar some more breathing room */
@media screen and (max-width: 48em) { /* 768px */

	.bugme {
		padding: 20px;
	}
	
}
@media screen and (max-width: 37.5em) { /* 600px */

	.bugme {
		padding: 20px 30px;
	}
	
	.bugme-close {
		right: 20px;
	}
	
}

/* colour transitions */
.bugme.colours {
	-webkit-animation:colour 48s 30 ease-in-out;
	-moz-animation:colour 48s 30 ease-in-out;
	-ms-animation:colour 48s 30 ease-in-out;
	-o-animation:colour 48s 30 ease-in-out;
	animation:colour 48s 30 ease-in-out;
	animation-iteration-count:infinite;
}

@-webkit-keyframes colour {
	0% { background-color: #3498db; }
	15% { background-color: #2ecc71; }
	28% { background-color: #1abc9c; }
	41% { background-color: #9b59b6; }
	53% { background-color: #e74c3c; }
	65% { background-color: #f39c12; }
	78% { background-color: #e67e22; }
	90% { background-color: #2ecc71; }
	100% { background-color: #3498db; }
}

@-moz-keyframes colour {
	0% { background-color: #3498db; }
	15% { background-color: #2ecc71; }
	28% { background-color: #1abc9c; }
	41% { background-color: #9b59b6; }
	53% { background-color: #e74c3c; }
	65% { background-color: #f39c12; }
	78% { background-color: #e67e22; }
	90% { background-color: #2ecc71; }
	100% { background-color: #3498db; }
}

@-ms-keyframes colour {
	0% { background-color: #3498db; }
	15% { background-color: #2ecc71; }
	28% { background-color: #1abc9c; }
	41% { background-color: #9b59b6; }
	53% { background-color: #e74c3c; }
	65% { background-color: #f39c12; }
	78% { background-color: #e67e22; }
	90% { background-color: #2ecc71; }
	100% { background-color: #3498db; }
}

@-o-keyframes colour {
	0% { background-color: #3498db; }
	15% { background-color: #2ecc71; }
	28% { background-color: #1abc9c; }
	41% { background-color: #9b59b6; }
	53% { background-color: #e74c3c; }
	65% { background-color: #f39c12; }
	78% { background-color: #e67e22; }
	90% { background-color: #2ecc71; }
	100% { background-color: #3498db; }
}

@keyframes colour {
	0% { background-color: #3498db; }
	15% { background-color: #2ecc71; }
	28% { background-color: #1abc9c; }
	41% { background-color: #9b59b6; }
	53% { background-color: #e74c3c; }
	65% { background-color: #f39c12; }
	78% { background-color: #e67e22; }
	90% { background-color: #2ecc71; }
	100% { background-color: #3498db; }
}


/* animated stuff, powered by http://daneden.me/animate/ */

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1.25s;-moz-animation-duration:1.25s;-ms-animation-duration:1.25s;-o-animation-duration:1.25s;animation-duration:1.25s;}


@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}
	
	80% {
		-webkit-transform: translateY(-10px);
	}
	
	100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes bounceInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-moz-transform: translateY(30px);
	}
	
	80% {
		-moz-transform: translateY(-10px);
	}
	
	100% {
		-moz-transform: translateY(0);
	}
}

@-o-keyframes bounceInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-o-transform: translateY(30px);
	}
	
	80% {
		-o-transform: translateY(-10px);
	}
	
	100% {
		-o-transform: translateY(0);
	}
}

@keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateY(30px);
	}
	
	80% {
		transform: translateY(-10px);
	}
	
	100% {
		transform: translateY(0);
	}
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	-moz-animation-name: bounceInDown;
	-o-animation-name: bounceInDown;
	animation-name: bounceInDown;
}
@-webkit-keyframes bounceOutUp {
	0% {
		-webkit-transform: translateY(0);
	}
	
	20% {
		opacity: 1;
		-webkit-transform: translateY(20px);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
}

@-moz-keyframes bounceOutUp {
	0% {
		-moz-transform: translateY(0);
	}
	
	20% {
		opacity: 1;
		-moz-transform: translateY(20px);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}
}

@-o-keyframes bounceOutUp {
	0% {
		-o-transform: translateY(0);
	}
	
	20% {
		opacity: 1;
		-o-transform: translateY(20px);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}
}

@keyframes bounceOutUp {
	0% {
		transform: translateY(0);
	}
	
	20% {
		opacity: 1;
		transform: translateY(20px);
	}
	
	100% {
		opacity: 0;
		transform: translateY(-2000px);
	}
}

.bounceOutUp {
	-webkit-animation-name: bounceOutUp;
	-moz-animation-name: bounceOutUp;
	-o-animation-name: bounceOutUp;
	animation-name: bounceOutUp;
}


